@import 'reset';
@import 'fonts/fonts';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

.app {
  font: var(--font-m);
  background: var(--inverted-bg-color);
  color: var(--primary-color);
  min-height: 90vh;

  transition: var(--transition-default);
}
.page-content {
  display: flex;
}
.page-wrapper {
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 25px;
  flex-grow: 0.95;
  box-shadow: 0px 0px 20px 3px rgba(120, 74, 178, 0.30);
  z-index: 2;
  height: 90vh;
}