.app.dark {
  --bg-color: #37274B;
  --inverted-bg-color: #301E46;

  --primary-color: #F5EEFF;
  --secondary-color: #F5EEFF;
  --inverted-primary-color: #F5EEFF;
  --inverted-secondary-color: #2e2e2e;
}