.app.light {
  --bg-color: #F5EEFF;
  --inverted-bg-color: #F3E9FF;

  --primary-color: #784AB2;
  --secondary-color: #2e2e2e;
  --inverted-primary-color: #F5EEFF;
  --inverted-secondary-color: #F3E9FF;
}